@model IEnumerable<ChealCore.Models.GLAccount>

@{
    ViewData["Title"] = "Index";
}


<div class="container mt-5">
    <h4>GL Account Manager</h4>
    <hr />
    <button class="btn btn-primary">
        <a asp-action="Create" style="text-decoration:none">Create New Account</a>
    </button>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GLCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActivated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string rowStyle = item.IsActivated ? "" : "table-light";

                <tr class=@rowStyle>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GLCategory.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Branch.Address)
                    </td>
                    <td>
                        @item.IsActivated
                    </td>
                    <td>
                        <a asp-action="Manage" asp-route-id="@item.ID">Manage</a>
                    </td>
                </tr>
                }
            </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/deleteGLAccount.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
