@model IEnumerable<ChealCore.Models.GLPosting>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h4>GL Postings Manager</h4>
    <hr />
    <button class="btn btn-primary">
        <a asp-action="Create" style="text-decoration:none">Create Transaction</a>
    </button>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreditAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DebitAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Narration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrGlAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrGlAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostInitiatorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreditAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DebitAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Narration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrGlAccount.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrGlAccount.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostInitiatorId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Manage" asp-route-id="@item.ID">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>