@*@model List<ChealCore.Models.ViewModels.UserRolesViewModel>*@
@*@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@*<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
            Add/Remove Roles for User / @ViewBag.UserName.
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].FirstName" />
                    <input asp-for="@Model[i].Selected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selected">
                            @Model[i].RoleName
                        </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary"
                   style="width:auto" />
            <a asp-action="EditUser" asp-route-id="@ViewBag.userId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>*@

@*@model ChealCore.Models.ViewModels.UserRolesViewModel

@{
    ViewData["Title"] = "Edit";
}*@

<!--<h1 style="margin-left:10%">Edit User</h1>

<div class="row">
    <div class="col-md-4" style="margin-left:10%; margin-right:10%">
        <form asp-action="EditUser">-->
            @*  <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <!--<input type="hidden" asp-for="UserId" />

            <div class="form-group mb-4">
                <label asp-for="UserName" class="control-label" style="margin-bottom:5px"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Email" class="control-label" style="margin-bottom:5px"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="PhoneNumber" class="control-label" style="margin-bottom:5px"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>-->

            @*  <div class="form-group mb-4">
                    <label asp-for="IsEnabled" class="control-label"></label>
                    <input asp-for="IsEnabled" class="form-control" type="checkbox" checked style="width:5px"/>
                    <span asp-validation-for="IsEnabled" class="text-danger"></span>
                </div>*@

            <!--<div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


    <div class="card mt-5 mb-3 w-25 col-md-4">

        <div class="card-header">
            <h2>User Roles</h2>
        </div>

        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var item in Model.Roles)
                {
                    <h5 class="card-title">@item</h5>
                }
            }
            else
            {
                <h5 class="card-title">None at the moment</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="ManageUserRoles" asp-route-userId="@Model.UserId"
               style="width:auto" class="btn btn-primary" asp-controller="users">
                Manage User Roles
            </a>
        </div>
    </div>

</div>

<div style="margin-left:10%">
    <a asp-action="listusers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}-->