@model IEnumerable<ChealCore.Models.Branch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h4 class="mb-3">Branches Manager</h4>
    <hr />
    <button class="btn btn-primary">
        <a asp-action="Create" style="text-decoration:none">
            Add New Branch
        </a>
    </button>

    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SortCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                bool isClosed = item.Status.ToString() == "Closed";
                string rowStyle = isClosed ? "table-light" : "";

                <tr class=@rowStyle>
                    <td>
                        @Html.DisplayFor(modelItem => item.BranchName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SortCode)
                    </td>
                    <td class="disabled">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Manage" asp-route-id="@item.Id">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/deleteGLCategory.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
