
@model IEnumerable<ChealCore.Models.ViewModels.TillToUserViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="container mt-5">
    <h4>Tellers</h4>
    <hr />
    <button class="btn btn-primary">
        <a asp-action="Create" style="text-decoration:none">Assign Till To Teller</a>
    </button>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GLAccountName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountBalance)
                </th>
                <th>
                    Teller
                </th>
                <th>
                </th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                @if (item.AccountBalance != "NIL")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GLAccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountBalance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.ActionLink("Manage", "Manage", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
