@model IEnumerable<ChealCore.Models.TellerPosting>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h4>Teller Postings Manager</h4>
    <hr />
    <button class="btn btn-primary">
        <a asp-action="Create" style="text-decoration:none">Create Transaction</a>
    </button>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Narration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostingType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TillAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Narration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostingType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerAccount.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TillAccount.AccountName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>