@model ChealCore.Models.AccountConfiguration

@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="my-3">
        <a asp-action="Index" class="nav-link active px-0"><i class="bi bi-arrow-left"></i> Back</a>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mx-auto w-50">
            <h4>Create Account Configuration</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group mb-2 row" style="align-items:center;">
                <div class="col-1">
                    <input type="checkbox" asp-for="IsBusinessOpen">
                    @Html.ValidationMessageFor(model => model.IsBusinessOpen, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.IsBusinessOpen, htmlAttributes: new { @class = "control-label my-1 col" })
            </div>

            <div class="savings my-5 border p-5">
                <h5>Savings</h5>
                <hr />
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.SavingsCreditInterestRate, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.SavingsCreditInterestRate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SavingsCreditInterestRate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.SavingsMinimumBalance, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.SavingsMinimumBalance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SavingsMinimumBalance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.SavingsInterestExpenseGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("SavingsInterestExpenseGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SavingsInterestExpenseGlID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.SavingsInterestPayableGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("SavingsInterestPayableGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SavingsInterestPayableGlID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="current my-5 border p-5">
                <h5>Current</h5>
                <hr />
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CurrentCreditInterestRate, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.CurrentCreditInterestRate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentCreditInterestRate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CurrentMinimumBalance, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.CurrentMinimumBalance, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentMinimumBalance, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CurrentCot, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.CurrentCot, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentCot, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CurrentInterestExpenseGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("CurrentInterestExpenseGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CurrentInterestExpenseGlID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CurrentCotIncomeGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("CurrentCotIncomeGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CurrentCotIncomeGlID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.CurrentInterestPayableGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("CurrentInterestPayableGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CurrentInterestPayableGlID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="loan my-5 border p-5">
                <h5>Loan</h5>
                <hr />
                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.LoanDebitInterestRate, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.EditorFor(model => model.LoanDebitInterestRate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LoanDebitInterestRate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.LoanInterestIncomeGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("LoanInterestIncomeGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoanInterestIncomeGlID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.LoanInterestExpenseGLID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("LoanInterestExpenseGLID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoanInterestExpenseGLID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-2">
                    @Html.LabelFor(model => model.LoanInterestReceivableGlID, htmlAttributes: new { @class = "control-label col my-1" })
                    <div class="col">
                        @Html.DropDownList("LoanInterestReceivableGlID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LoanInterestReceivableGlID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
