@*@model IEnumerable<App.Models.AccountConfiguration>*@
@model ChealCore.Models.AccountConfiguration

@{
    ViewData["Title"] = "Index";
}


<div class="container mt-5">
    <h4>Account Configuration</h4>
    <hr />

    @if (Model != null)
    {
        <div>

            <p>
                @Html.DisplayNameFor(model => model.FinancialDate)   :   @Html.DisplayFor(model => model.FinancialDate)
            </p>

            <p>
                @Html.DisplayNameFor(model => model.IsBusinessOpen) : @Html.DisplayFor(model => model.IsBusinessOpen)
            </p>

            <div class="row">

                <div class="card col-md-5 my-3 p-5">

                    <div class="card-title">
                        <h4>Savings Account Configuration</h4>
                    </div>

                    <div class="card-body">
                        <p>
                            @Html.DisplayNameFor(model => model.SavingsCreditInterestRate) :  @Html.DisplayFor(model => model.SavingsCreditInterestRate)

                        </p>


                        <p>
                            @Html.DisplayNameFor(model => model.SavingsMinimumBalance) :  @Html.DisplayFor(model => model.SavingsMinimumBalance)
                        </p>

                        <p>

                            @Html.DisplayNameFor(model => model.SavingsInterestExpenseGl) :    @Html.DisplayFor(model => model.SavingsInterestExpenseGl.AccountName)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.SavingsInterestPayableGl) :   @Html.DisplayFor(model => model.SavingsInterestPayableGl.AccountName)
                        </p>
                    </div>

                </div>

                <div class="card col-md-5 my-3 p-5">

                    <div class="card-title">
                        <h4>Current Account Configuration</h4>
                    </div>

                    <div class="card-body">
                        <p>
                            @Html.DisplayNameFor(model => model.CurrentCreditInterestRate) :  @Html.DisplayFor(model => model.CurrentCreditInterestRate)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.CurrentMinimumBalance) :    @Html.DisplayFor(model => model.CurrentMinimumBalance)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.CurrentCot) :  @Html.DisplayFor(model => model.CurrentCot)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.CurrentInterestExpenseGl) :   @Html.DisplayFor(model => model.CurrentInterestExpenseGl.AccountName)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.CurrentCotIncomeGl) :   @Html.DisplayFor(model => model.CurrentCotIncomeGl.AccountName)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.CurrentInterestPayableGl) :     @Html.DisplayFor(model => model.CurrentInterestPayableGl.AccountName)
                        </p>

                    </div>
                </div>

                <div class="card col-md-5 my-3 p-5">

                    <div class="card-title">

                        <h4>Loan Account Configuration</h4>
                    </div>

                    <div class="card-body">


                        <p>
                            @Html.DisplayNameFor(model => model.LoanDebitInterestRate) :  @Html.DisplayFor(model => model.LoanDebitInterestRate)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.LoanInterestIncomeGl) :   @Html.DisplayFor(model => model.LoanInterestIncomeGl.AccountName)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.LoanInterestExpenseGl) :   @Html.DisplayFor(model => model.LoanInterestExpenseGl.AccountName)
                        </p>

                        <p>
                            @Html.DisplayNameFor(model => model.LoanInterestReceivableGl) :   @Html.DisplayFor(model => model.LoanInterestReceivableGl.AccountName)
                        </p>

                    </div>
                </div>

            </div>

            <div class="mt-2">
                <a asp-action="RunEOD" class="btn btn-primary">Run EOD</a>
                <a asp-action="Edit" class="btn btn-danger">Edit Configuration</a>
            </div>

        </div>
    }
    else
    {
        <div style="margin-left:20%">
            <a asp-action="Create">Create Configuration</a>
        </div>
    }
</div>